.list-custom {
    margin: 0px !important
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-left: 2rem;
    margin-right: 2rem
}

.span-spacer {
    padding-top: 2rem;
}