.dnd-container {
    display: flex;
    touch-action: none;
    width: 90vw;
    margin: 1rem auto;
}

.dropzone {
    flex: 1;
    height: 20vh;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 1rem;
}


.grid-item {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-item-content {
    width: 27vw;
    box-sizing: border-box;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    border: 1px solid rgba(0, 0, 0, 0.4);
}

.image {
    padding: .4rem;
    pointer-events: none;
    width: -webkit-fill-available;
}