.card-short {
    height: 20vh;
}

.card-title {
    height: 20vh;
}

.card-content {
    height: 80vh;
    .inner-content{
        padding-left: 5vw;
        padding-right: 5vw;
    }
}

.container {
    display: flex;
    flex-direction: column;
}